.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
}

.phones {
  border: 2px solid black;
  width: 250px;
  padding: 10px;
  margin: 10px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 80%;
}

.cart {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  background: lightcyan;
  width: 20%;
}

button {
  margin: 11px;
}

.add {
  border: 0px;
  padding: 5px;
  /* border-radius: 5px; */
  background: green;
  color: white;
  border-radius: 6px;
  width: 200px;
}

.remove {
  padding: 5px;
  background: lightcoral;
  width: 200px;
  border: 0px;
  border-radius: 6px;
}

.qty {
  display: flex;
  align-items: center;
}

.cart-items {
  border: 2px solid;
  padding: 10px;
}
